In [1]:
from scipy import stats
import pandas as pd
import numpy as np

### import data

In [2]:
data1 = pd.read_csv('data-1.csv', dtype={'x': np.float64, 'y': np.float64})
data2 = pd.read_csv('data-2.csv', dtype={'x': np.float64, 'y': np.float64})
data3 = pd.read_csv('data-3.csv', dtype={'x': np.float64, 'y': np.float64})
data4 = pd.read_csv('data-4.csv', dtype={'x': np.float64, 'y': np.float64})
data5 = pd.read_csv('data-5.csv', dtype={'x': np.float64, 'y': np.float64})
data6 = pd.read_csv('data-6.csv', dtype={'x': np.float64, 'y': np.float64})

### report data 1

In [3]:
data1.describe()

                x           y
count  100.000000  100.000000
mean     8.717696   12.522874
std     12.155517    6.639964
min    -22.635878   -2.565088
25%      0.273720    8.700088
50%      9.129153   13.058321
75%     16.844928   16.866256
max     35.237055   27.384153

In [4]:
stats.linregress(data1['x'], data1['y']).rvalue

0.95032569543754819

### report data 2

In [5]:
data2.describe()

                x           y
count  100.000000  100.000000
mean    -0.710787   -0.748987
std     11.481584    6.257918
min    -33.271113  -18.621804
25%     -7.158775   -4.226143
50%     -0.904306   -0.363660
75%      6.463880    3.239783
max     27.647000   14.147315

In [6]:
stats.linregress(data2['x'], data2['y']).rvalue

0.95515316657503735

### report data 3

In [7]:
data3.describe()

                x           y
count  300.000000  300.000000
mean     0.968907    8.508535
std      2.235558    1.149301
min     -2.449064    6.641734
25%     -0.786092    7.462954
50%      0.936631    8.484485
75%      2.672549    9.538208
max      4.518885   10.551871

In [8]:
stats.linregress(data3['x'], data3['y']).rvalue

0.98193726467606646

### report data 4

In [9]:
data4.describe()

                x           y
count  118.000000  118.000000
mean    49.905086   18.553837
std     28.508611   16.545896
min      0.000000    0.000000
25%     31.851625    4.635509
50%     55.178870   13.459013
75%     73.584013   35.114157
max     87.376700   44.565040

In [10]:
stats.linregress(data4['x'], data4['y']).rvalue

-0.081193067354908152

### report data 5

In [11]:
data5.describe()

                x           y
count  118.000000  118.000000
mean    49.909994   18.555525
std     28.500001   16.540796
min      4.337892    0.055498
25%     27.822473    3.246504
50%     48.002340   15.453975
75%     68.051795   34.926532
max     91.052863   49.934197

In [12]:
stats.linregress(data5['x'], data5['y']).rvalue

-0.088235989830588835

### report data 6

In [13]:
data6.describe()

                x           y
count  100.000000  100.000000
mean     7.216155    7.602215
std     11.921599   11.764382
min    -24.333821  -22.956357
25%     -1.666417   -1.395762
50%      8.026907    8.475399
75%     15.992990   16.288893
max     35.402139   36.079874

In [14]:
stats.linregress(data6['x'], data6['y']).rvalue

0.93506856620949053